.boton-elegante {
    -fx-background-color: #1a1c27;
    -fx-text-fill: #F5F0E6;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-pref-width: 110;
    -fx-pref-height: 42;



}

.boton-elegante:hover {
    -fx-background-color: #1a1c27;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
    -fx-text-fill: #F5F0E6;

}

.boton-elegante:pressed {
    -fx-background-color: #14161c;
    -fx-text-fill: #F5F0E6;

}